
body{
text-align: center;
}

header{
background: #ff1654;
color: white;
padding: 10px;
}
img{
  height: 260px;
  border-radius: 5px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  size: 6rem;
  line-height: 1.5;
 
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 34px;
}
h3{
  font-size: 26px;
}
p{
 font-family: 'Montserrat', sans-serif; 
}

div .login-form {
  margin: 50px;
  vertical-align: middle;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 100%;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


button:hover span:after {
  opacity: 1;
  right: 0;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
input{
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  border:2px solid #ccc; 
}
form{
  margin: 0 auto;
}

.logos img{
height: 50px;
}
a{
  font-size: 24px;
}
  a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
   a:active {
    background-color: black;
}

.login-form {
  padding: 10px;
  vertical-align: middle;
}

div .footer-container{
margin: 150px;
}

 button.logout{
   font-size: 24px;
    color: white;
    background-color: #ff1654;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


div div.logos{
margin-top: 150px;
}

div .signBtn {
margin-top: 40px;
}

a:link, a:visited {
 
  color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

 a.signup{
  position:absolute;
  top:10px;
  right: 10px;
font-size: 24px;
color: white;
}

ul {
  list-style: none;
}

label {
  font-size: 24px;
}

p{
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}