body{
text-align: center;
}

header{
background: #ff1654;
color: white;
padding: 10px;
}
img{
  height: 260px;
  border-radius: 5px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  size: 3rem;
  line-height: 1.5;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: black;
}
p{
 font-family: 'Montserrat', sans-serif; 
}

.login-form {
  margin: 200px;
  vertical-align: middle;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 100%;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}


textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

form{
  margin: 0 auto;
}

.logos img{
height: 50px;
}
.neon img{

}