body{
text-align: center;
}

header{
background: #ff1654;
color: white;
padding: 10px;
}
img{
  height: 260px;

}
h1{
  font-family: 'Montserrat', sans-serif;
  size: 3rem;
  line-height: 1.5;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.login-form {
  margin: 100px;
  vertical-align: middle;
}

.footer-container {
  background-color:   #ff1654;
  position: absolute;
  bottom: 0;
  width: 100%;
 
}

